<footer class="sticky-bottom">
    <ul class="nav justify-content-around footer--bg">

    <li class="nav-item">
      <%= link_to "Home", welcome_path, class: "nav-link a--color" %>
    </li>
    <li class="nav-item">
      <%= link_to "Back", :back, class: "nav-link a--color" %>
    </li>
  </ul>
</footer>
