<nav class="navbar navbar-expand-lg bg-warning sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- Use the Font Awesome icon directly within the button -->
      <i class="fas fa-chevron-down"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Use ms-lg-auto to align items to the right on larger screens -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ms-lg-auto">
        <li class="nav-item">
          <%= link_to "Play rate", rates_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sales report", sales_report_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "Play monitoring", play_monitoring_path, class: "nav-link text-dark" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
