<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <%= image_tag "happ-space.png", class: "img-fluid", alt: "happy-space-photo" %>
    <h1 class="mt-3">THANK YOU!</h1>
    <p class="lead">Please turn over your kids to our friendly staff.</p>
  </div>
</div>
