<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1>Welcome back to</h1>
    <%= image_tag "happ-space.png", class: "img-fluid", alt: "happy-space-photo" %>
    <div class="my-5">
      <%= link_to "Get Control Number", new_parent_path, class: "btn btn-primary my-1" %>
    </div>
    <div class="mt-1">
      <%= link_to "Going Home", plays_path, class: "btn btn-secondary my-2" %>
    </div>
  </div>
</div>
